@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --bg:#000;
    --foreground:#fff;
    --text: #101010;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol,li{
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}
/* #root{
    background: var(--bg);
    color: var(--foreground);
} */
#app{
    width: 100%;
    min-height: 100vh;
     background: var(--bg);
    color: var(--foreground);
    
}
#logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden; 
    img{
      width: 80px;
    }
}

nav{

    border-radius: 15px;
    display: flex;
    align-items: center;
    font-family: "Poppins";
    font-size: 0.8rem;
    padding: 1rem;
    border-radius: 30px;
    border: 1px solid rgb(32, 32, 32);
    ul{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        

        a{
            transition: all .2s ease;
            &:hover{
                color: orangered;
            }
            
        }
    }
}

#account{
    font-family: "Poppins";
    font-size: 0.8rem;
    display: flex;
     align-items: center;
     img{
        width: 60px;
     }
}

header{
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 375px;
    margin: 0 auto;
    
}

#left-side{
    width: 300px;
    border: 1px solid rgb(51, 51, 51);
    padding: 1rem;
    border-radius: 10px;
}

main{
    max-width: 960px;
    width: 100%;
    min-width: 375px;
    margin: 100px auto;
    display: flex;
}

#main-side{
    width: 100%;
    border: 1px solid rgb(51, 51, 51);
    padding: 1rem;
    border-radius: 10px;
    min-height: 560px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-side-controls{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    input{
        width: 50%;
        height: 40px;
        background: none;
        outline: none;
        text-align: center;
        border: 1px solid rgb(41, 41, 41);
        border-radius: 10px;
        color: white;
    }

    button{
        width: 55px;
        height: 35px;
        border-radius: 10px;
        outline: none;
        border: none;
    }
}

.message-box{
    padding: 10px;
    border-radius: 20px;
    background: rgb(133, 0, 0);
    max-width: 275px;
    height: auto;
    width: 100%;
}

.message-data{
    font-family: monospace;
    justify-self: end;
}

/* .message{

} */
.message-user{
    font-size: 0.8rem;
    font-family: "Poppins";
}
.message-text{
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

#chat{
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

#chat::-webkit-scrollbar {
    width: 4px;
    background: rgb(48, 48, 48);
}
#chat::-webkit-scrollbar-thumb {
    background: rgb(146, 0, 0);
}
.active{
     align-self: flex-end;
}

.active-box{
    background: rgb(218, 0, 0);
}

.ava{
    img{
        width: 50px;
    }
}

.contact{
    width: 100%;
}

@media screen and (max-width: 965px){
    main{
        flex-direction: column;
    }
    #left-side{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    header{
        justify-content: space-around;
        nav{
            display: none;
        }
    }
}

